html,body{

  margin:0px;
  padding: 0px;
  overflow: hidden;
}
.intro_bar{

  background: url('http://qsf.ec.quoracdn.net/-images.home.logged_out_bg3.pngbd129e920075dee8.png');
  background-size: cover;
  background-position: center;
  height: 570px;
  width: 100%;
}
.blue_layer{
  /*
  background-color: rgba(12, 19, 98, 0.72);
  background: rgba(31,19,214,0.72);

  */
background: rgba(7, 94, 253, 0.85);

  width: 100%;
  height:570px;
  color:white;
}
.nav{
  margin-top: 15px;
}
.logo{
  color: white;
  text-transform: capitalize;
  font-size:26px;
  font-weight: bold;
  margin-top: 12px;
  padding-left: 0px;
}

a{

  color:white !important;
  font-size:16px;
  font-family: "Open Sans";

}
.men
/* On Fouc
s Menu Item*/
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: rgba(255, 0, 0,0); ;
}

/* Intial Layer */
.blue_layer_heading{
  font-size: 32px;
  font-weight: 700;
  margin: 45px auto 5px 20px;
}

.blue_layer_small_text{
  font-size: 18px;
  font-weight: 500;
  margin: 15px auto 5px 20px;
}

.signup{
  width: 100%;
  margin-top: 140px;
}

.fast-reg .form-control {
    background: #ffffff;
    border: none;
    font-weight: 700;
    font-size: 18px;
    height: 50px;
    color: #333;
}
.btn-color {
    background-color: #374765;
    color: #FFF;
}
.btn {
    font-family: "Raleway", "din_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    margin-right: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: inline-block;
    padding: 14px 38px 13px 38px;
    border: 0px;
    height: 60px;
}
#email{
   height:60px;
}
#email:focus ,textarea:focus, input:focus{
    outline: none;
}
