html,body{

  margin:0px;
  padding: 0px;
  overflow: hidden;
}
.intro_bar{

  background: url('http://qsf.ec.quoracdn.net/-images.home.logged_out_bg3.pngbd129e920075dee8.png');
  background-size: contain;
  height: 600px;
  width: 100%;
}
.blue_layer{
  /*
  background-color: rgba(12, 19, 98, 0.72);
  */
background: rgba(19,88,214,0.86);

  width: 100%;
  height:100%;
  color:white;
}
.nav{
  margin-top: 15px;
}
.logo{
  color: white;
  text-transform: capitalize;
  font-size:26px;
  font-weight: bold;
  margin-top: 12px;
  padding-left: 0px;
}

a{

  color:white !important;
  font-size:16px;
  font-family: "Open Sans";

}
.men
/* On Fouc
s Menu Item*/
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: rgba(255, 0, 0,0); ;
}
